<div class="bg-info vh-100">
  <div class="container text-white h-100 d-flex flex-column">

    <div class="d-flex row mt-0 mt-sm-5 pt-3 mx-0 align-items-center">
      <div class="col pl-0 h3 font-weight-normal">
        <div *ngIf="weatherData && !errorCity; else elseBlock">{{weatherData.name}}</div>
        <ng-template #elseBlock>Ошибка</ng-template>
      </div>
      <div class="col d-flex justify-content-end text-white-50 h-min">
        &deg;
        <div class="btn-group btn-group-toggle ml-1" data-toggle="buttons">
          <label class="btn btn-outline-light py-0 px-12px" (click)="onUnitChange('metric')">
            <input type="radio" name="options" id="option1" autocomplete="off">
            <div>C</div>
          </label>
          <label class="btn btn-outline-light py-0 px-12px" (click)="onUnitChange('imperial')">
            <input type="radio" name="options" id="option2" autocomplete="off">
            <div>F</div>
          </label>
        </div>
      </div>
    </div>

    <div class="row mx-0 text-white-50 text-auto">
      <div class="cursor-pointer" (click)="openModal()">Сменить город</div>
      <div class="d-flex align-items-center cursor-pointer ml-5" (click)="getLocation()">
        <img class="mr-1" src="assets/icons/geolocation.svg">
        Мое местоположение
      </div>
    </div>

    <div *ngIf="weatherData && !errorCity"
         class="d-flex justify-content-center col text-center align-items-center mb-5 pb-5">
      <div class="h-min">
        <div class="row justify-content-center align-items-center mx-0">
          <img class="weather-img" src="http://openweathermap.org/img/wn/{{weatherData.weather[0].icon}}@2x.png">
          <h1 class="font-weight-light weather-temp">{{weatherData.main.temp | number:'1.0-0'}}&deg;</h1>
        </div>
        <div class="font-weight-light m-desc">{{weatherData.weather[0].description | descriptionFormat}}</div>
      </div>
    </div>

    <div *ngIf="weatherData && !errorCity" class="row d-flex justify-content-md-between mb-0 pb-3 mx-0 mb-sm-5">


      <div class="col-8 col-md-auto flex-column">
        <p class="text-white-50 m-0">Ветер </p>
        <p>{{weatherData.wind.speed}}м/с, {{weatherData.wind.description}}</p>
      </div>
      <div class="col-4 col-md-auto flex-column">
        <p class="text-white-50 m-0">Давление </p>
        <p>{{weatherData.main.pressure}}</p>
      </div>


      <div class="col-8 col-md-auto flex-column">
        <p class="text-white-50 m-0">Влажность </p>
        <p>{{weatherData.main.humidity}}%</p>
      </div>
      <div class="col-4 col-md-auto flex-column">
        <p class="text-white-50 m-0 ">Облачность </p>
        <p class="">{{weatherData.clouds.all}}% </p>
      </div>


    </div>
    <div *ngIf="errorCity">
      <div>Город с названием "{{city}}" не найден. Проверьте правильность введенных данных.</div>
    </div>
  </div>
</div>
